<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head runat="server">
    <meta charset="utf-8">
    <title>企业HR登陆</title>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
    <link rel="shortcut icon" th:href="@{/photo/others/5.jpg}"/>
    <style>
        .myStyle_2 {
            height: auto;
            background: #aaa;
        }

        .myStyle_2::after {
            clear: both;
        }

        .myStyle_3 {
            margin-right: auto;
            margin-left: auto;
            height: auto;
            width: 500px;
            background: #FFFFFF;
        }

        .myStyle_3::after {
            clear: both;
        }

        .myStyle_4 {
            margin-right: auto;
            margin-left: auto;
            height: auto;
            width: 400px;
            background: #FFFFFF;
        }

        .myStyle_4::after {
            clear: both;
        }

        .myStyle_6 {
            height: 300px;
            background: #FFFFFF;
        }

        .myStyle_7 {
            height: 70px;
            background: #aaa;
        }
    </style>

    <script type="text/javascript">
        function login() {
            var userTel = $('#userTel').val();
            $.cookie("userTel", userTel);
            var userPasswd = $('#userPasswd').val();
            $.ajax({
                url: '/bikini/employer/employerLog',
                type: 'post',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({"employeeTel": userTel, "employeePassword": userPasswd})
            }).done(function (data) {
                console.log(data);
                if (data.status === 200) {
                    console.log(data);
                    window.location.href = '/bikini/employer/employerShow';
                } else {
                    console.log(data);
                    alert("账号或密码输入错误！");
                }
            })
        }

        function back() {
            window.location.href = '/bikini/employee/main';
        }
    </script>

</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0; height: 30px; background:#FFFFFF">
    <div class="row" style="margin-top:-1.3%">
        <div class="col-sm-1 col-lg-push-1">
            <button type="button" class="btn btn-info" onclick="back()">返回</button>
        </div>
        <div class="col-sm-2 col-lg-push-3">
            <img th:src="@{/photo/others/3.jpg}" style="height: 50px" alt="Cinque Terre">
        </div>
        <div class="col-sm-2 col-lg-push-2">
            <h5>企业HR登陆</h5>
        </div>
        <div class="col-sm-2 col-lg-push-1">
            <img th:src="@{/photo/others/6.jpg}" style="height: 50px" alt="Cinque Terre">
        </div>
        <div class="col-sm-3 col-lg-push-2">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">登陆
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="employeeLogin.html">应聘者登陆</a></li>
                    <li class="divider"></li>
                    <li><a href="employerLogin.html">企业HR登陆</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">注册
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="employeeRegister.html">应聘者注册</a></li>
                    <li class="divider"></li>
                    <li><a href="employerRegister.html">企业HR注册</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="myStyle_2" style="padding-top: 30px;padding-bottom: 30px">
    <form>
        <div class="myStyle_3" style="padding-top: 100px;padding-bottom: 100px">
            <div class="myStyle_4">
                <label for="userTel"></label><input type="text" id="userTel" class="form-control" placeholder="账号"
                                                    required autofocus>
                <p></p>
                <label for="userPasswd" class="sr-only">密码</label>
                <input type="password" id="userPasswd" class="form-control" placeholder="密码" required>
                <div class="checkbox text-right">
                    <label>
                        <input type="checkbox" value="remember-me">
                        记住我 </label>
                </div>
                <button class="btn btn-lg btn-info btn-block" type="button" onclick="login()">企业HR登录</button>
            </div>
        </div>
    </form>
</div>
<div class="myStyle_6"></div>
<div class="myStyle_7"></div>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h6 class="text-danger">RightCopy@Bikini</h6>
    <h5 class="text-info">解释权归Bikini所有，如有任何意见或建议请联系我们</h5>
    <p><h5><span class="glyphicon glyphicon-phone-alt">：68221932</span></h5>
    <p><h5><span class="glyphicon glyphicon-earphone">：18302161037</span></h5>
    <p><h5><span class="glyphicon glyphicon-envelope"></span>：161310614@mail.dhu.edu.cn</h5>
    <p><h6><span class="glyphicon glyphicon-magnet"></span>
    <span class="glyphicon glyphicon-bell"></span>
    <span class="glyphicon glyphicon-globe"></span>
    <span class="glyphicon glyphicon-tree-deciduous"></span></h6>
</div>
</body>
</html>